<div class="box">
  <form method="post" action="/order">
<!-- <<<<<<< HEAD -->
    <!-- <h1>Checkout - Address</h1>
    <div class="nav flex-column flex-md-row nav-pills text-center">
      <button
        type="button"
        id="switchToAddress"
        class="nav-link flex-sm-fill text-sm-center active"
      >
        <i class="fa fa-map-marker"> </i>Address</button
      ><button
        type="button"
        id="switchToOrderReview"
        class="nav-link flex-sm-fill text-sm-center"
      >
        <i class="fa fa-eye"> </i>Order Review
      </button>
    </div>

    <div class="content py-3" id="addressView"> -->
<!-- // -->
    <!--Header nav-->
    <h1>Checkout</h1>
    <div class="nav flex-column flex-md-row nav-pills text-center">
      <a
        href="checkout1.html"
        class="nav-link flex-sm-fill text-sm-center active"
        id="addressNavBtn"
      >
        <i class="fa fa-map-marker"> </i>Address</a
      ><a
        href="#"
        class="nav-link flex-sm-fill text-sm-center disabled"
        id="deliveryNavBtn"
      >
        <i class="fa fa-truck"> </i>Delivery Method</a
      ><a
        href="#"
        class="nav-link flex-sm-fill text-sm-center disabled"
        id="paymentNavBtn"
      >
        <i class="fa fa-money"> </i>Payment Method</a
      ><a
        href="#"
        class="nav-link flex-sm-fill text-sm-center disabled"
        id="reviewNavBtn"
      >
        <i class="fa fa-eye"> </i>Order Review</a
      >
    </div>

    <!--Address-->
    <div class="content py-3" id="addressCheckout">
<!-- >>>>>>> origin/master -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Customer Name</label>
            <input
              name="name"
              id="name"
              type="text"
              readonly
              class="form-control"
              value="<%=user.name%>"
            />
          </div>
<!-- <<<<<<< HEAD -->
        <!-- </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              name="email"
              id="email"
              type="email"
              readonly
              class="form-control"
              value="<%=user.email%>"
            />
          </div>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              name="phone"
              id="phone"
              type="text"
              required
              class="form-control"
              maxlength="10"
              onkeypress="return onlyNumberKey(event)"
              value="<%=user.phone%>"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="address">Address</label>
            <input
              name="address"
              id="address"
              type="text"
              required
              class="form-control"
              value="<%=user.address%>"
            />
          </div>
        </div>
      </div>
    </div>
    <div id="orderReviewView" hidden>
      <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Product</th>
                    <th>Quantity</th>
                    <th>Size</th>
                    <th>Unit price</th>
                    <th colspan="3">Total</th>
                </tr>
            </thead>
            <tbody>
                <% let total = 0%>
                <% for (let i=0;i<cart.orderItems.length;i++) { %>
                <tr id="row-<%=cart.orderItems[i]._id%>">
                    <td><a href="/products/<%=cart.orderItems[i].product._id%>"><img src="https://hyper-shop-admin.herokuapp.com/<%=cart.orderItems[i].product.image%>" alt="<%=cart.orderItems[i].product.name%>"></a></td>
                    <td><a href="/products/<%=cart.orderItems[i].product._id%>"><%=cart.orderItems[i].product.name%></a></td>
                    <td id="quantity-<%=cart.orderItems[i]._id%>">
                        <input type="number" value="<%=cart.orderItems[i].quantity%>" readonly min="1" id="<%=cart.orderItems[i]._id%>" class="form-control item-quantity">
                    </td>
                    <td><%=cart.orderItems[i].size %>
                    </td>
                    <td>$<%=cart.orderItems[i].product.price%></td>
                    <td>
                        $<input id="totalPerItem-<%=cart.orderItems[i]._id%>" type="text" readonly style="border: none; outline: none; min-width: 75px; text-align: left;"  value="<%=cart.orderItems[i].quantity*cart.orderItems[i].product.price%>"/>
                    </td>
                    <td>
                    </td>
                </tr>
                <%total += cart.orderItems[i].quantity*cart.orderItems[i].product.price%>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5">Total</th>
                    <th colspan="2" class="display-row">
                        $<input id="total" style="border: none; outline: none;width:100px" readonly type="number" value="<%=total%>"/>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    </div>
    <div class="box-footer d-flex justify-content-between">
      <a href="/cart" class="btn btn-outline-secondary"
        ><i class="fa fa-chevron-left"></i>Back to Basket</a
      >
      <button type="submit" class="btn btn-primary" id="confirmPurchase">
        Confirm and Purchase<i class="fa fa-chevron-right"></i>
      </button>
    </div>
  </form>
</div> -->
<!-- // -->
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              name="email"
              id="email"
              type="email"
              readonly
              class="form-control"
              value="<%=user.email%>"
            />
          </div>
        </div>
      </div>
      <!-- /.row-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              name="phone"
              id="phone"
              type="text"
              required
              class="form-control"
              maxlength="10"
              onkeypress="return onlyNumberKey(event)"
              value="<%=user.phone%>"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="address">Address</label>
            <input
              name="address"
              id="address"
              type="text"
              required
              class="form-control"
              value="<%=user.address%>"
            />
          </div>
        </div>
      </div>
      <div class="box-footer d-flex justify-content-between">
        <a href="/cart" class="btn btn-outline-secondary">
          <i class="fa fa-chevron-left"></i>Back to Cart
        </a>

        <a class="btn btn-primary" id="deliveryCheckoutBtn">
          <i class="fa fa-chevron-right"></i>Next
        </a>
      </div>
    </div>

    <!--Delivery method-->
    <div class="hidden" id="deliveryCheckout">
      <div class="display-flex">
        <div id="delivery-option-group">
          <div class="delivery-option-item" id="fastOption">
            <label class="btn delivery-label" for="">Fast</label>
            <p>
              Delivery on 2 day after checkout time in state and 3 day out
              state. Choose day and time suit to your wish, change information
              after checkout
            </p>
          </div>

          <div class="delivery-option-item" id="normalOption">
            <label class="btn delivery-label" for="">Normal</label>
            <p>
              Delivery on 3 day after checkout time in state and 4 day out
              state. Change information after checkout
            </p>
          </div>

          <div class="delivery-option-item" id="economyOption">
            <label class="btn delivery-label" for="">Economy</label>
            <p>
              Delivery on 7 day all state. Can not change information after
              checkout
            </p>
          </div>
        </div>
        <div id="delivery-cost">
          <label>Shipping Cost</label>
          <div id="sourceAddress">From: 5 New Ustria, Horizontal, Florida</div>
          <div id="destinationAddress">To:</div>
          <div id="cost">Shipping and handling:</div>
          <div id="tax">Tax:</div>
          <div>Total: </div> <div id="total"></div>
        </div>
      </div>

      <div class="box-footer d-flex justify-content-between">
        <a class="btn btn-outline-secondary" id="addressCheckoutBtn">
          Back<i class="fa fa-chevron-left"></i>
        </a>

        <a class="btn btn-primary" id="paymentCheckoutBtn">
          Next<i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <!--Payment method-->
    <div class="hidden" id="paymentCheckout">

      <div>
        <div class="container-fluid px-0" id="bg-div">
          <div class="row justify-content-center">
            <div class="col-12" id="payment-tab">
              <div class="card card0">
                <div class="d-flex" id="wrapper">
                  <!-- Sidebar -->
                  <div class="bg-light border-right" id="sidebar-wrapper">
                    <div class="sidebar-heading pt-5 pb-4">
                      <strong>PAY WITH</strong>
                    </div>
                    <div class="list-group list-group-flush">
                      <a
                        data-toggle="tab"
                        href="#menu1"
                        id="tab1"
                        class="tabs list-group-item bg-light"
                      >
                        <div class="list-div my-2">
                          <div class="fa fa-home"></div>
                          &nbsp;&nbsp; Bank
                        </div>
                      </a>
                      <a
                        data-toggle="tab"
                        href="#menu2"
                        id="tab2"
                        class="tabs list-group-item active"
                      >
                        <div class="list-div my-2">
                          <div class="fa fa-credit-card"></div>
                          &nbsp;&nbsp; Card
                        </div>
                      </a>
                      <a
                        data-toggle="tab"
                        href="#menu3"
                        id="tab3"
                        class="tabs list-group-item bg-light"
                      >
                        <div class="list-div my-2">
                          <div class="fa fa-qrcode"></div>
                          &nbsp;&nbsp;&nbsp; Visa QR
                          <span id="new-label">NEW</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- Page Content -->
                  <div id="page-content-wrapper">
                    <div class="row pt-3" id="border-btm">
                      <div class="col-4">
                        <button
                          class="btn btn-success mt-4 ml-3 mb-3"
                          id="menu-toggle"
                        >
                          <div class="bar4"></div>
                          <div class="bar4"></div>
                          <div class="bar4"></div>
                        </button>
                      </div>
                      <div class="col-8">
                        <div class="row justify-content-right">
                          <div class="col-12">
                            <p class="mb-0 mr-4 mt-4 text-right">
                              customer@email.com
                            </p>
                          </div>
                        </div>
                        <div class="row justify-content-right">
                          <div class="col-12">
                            <p class="mb-0 mr-4 text-right">
                              Pay <span class="top-highlight">/span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="text-center" id="test">Pay</div>
                    </div>
                    <div class="tab-content">
                      <div id="menu1" class="tab-pane">
                        <div class="row justify-content-center">
                          <div class="col-11">
                            <div class="form-card">
                              <h3 class="mt-0 mb-4 text-center">
                                Enter bank details to pay
                              </h3>
                              <div>
                                <div class="row">
                                  <div class="col-12">
                                    <div class="input-group">
                                      <input
                                        type="text"
                                        id="bk_nm"
                                        placeholder="BBB Bank"
                                      />
                                      <label>BANK NAME</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-12">
                                    <div class="input-group">
                                      <input
                                        type="text"
                                        name="ben_nm"
                                        id="ben-nm"
                                        placeholder="John Smith"
                                      />
                                      <label>BENEFICIARY NAME</label>
                                    </div>
                                  </div>
                                  <div class="col-12">
                                    <div class="input-group">
                                      <input
                                        type="text"
                                        name="scode"
                                        placeholder="ABCDAB1S"
                                        class="placeicon"
                                        minlength="8"
                                        maxlength="11"
                                      />
                                      <label>SWIFT CODE</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <input
                                      type="submit"
                                      value="Pay"
                                      class="btn btn-success placeicon"
                                    />
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <p class="text-center mb-5" id="below-btn">
                                      <a href="#">Use a test card</a>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="menu2" class="tab-pane in active">
                        <div class="row justify-content-center">
                          <div class="col-11">
                            <div class="form-card">
                              <h3 class="mt-0 mb-4 text-center">
                                Enter your card details to pay
                              </h3>
                              <div>
                                <div class="row">
                                  <div class="col-12">
                                    <div class="input-group">
                                      <input
                                        type="text"
                                        id="cr_no"
                                        placeholder="0000 0000 0000 0000"
                                        minlength="19"
                                        maxlength="19"
                                      />
                                      <label>CARD NUMBER</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-6">
                                    <div class="input-group">
                                      <input
                                        type="text"
                                        name="exp"
                                        id="exp"
                                        placeholder="MM/YY"
                                        minlength="5"
                                        maxlength="5"
                                      />
                                      <label>CARD EXPIRY</label>
                                    </div>
                                  </div>
                                  <div class="col-6">
                                    <div class="input-group">
                                      <input
                                        type="password"
                                        name="cvcpwd"
                                        placeholder="&#9679;&#9679;&#9679;"
                                        class="placeicon"
                                        minlength="3"
                                        maxlength="3"
                                      />
                                      <label>CVV</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <input
                                      type="submit"
                                      value="Pay"
                                      class="btn btn-success placeicon"
                                    />
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <p class="text-center mb-5" id="below-btn">
                                      <a href="#">Use a test card</a>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="menu3" class="tab-pane">
                        <div class="row justify-content-center">
                          <div class="col-11">
                            <h3 class="mt-0 mb-4 text-center">
                              Scan the QR code to pay
                            </h3>
                            <div class="row justify-content-center">
                              <div id="qr">
                                <img
                                  src="https://i.imgur.com/DD4Npfw.jpg"
                                  width="200px"
                                  height="200px"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-footer d-flex justify-content-between">
        <a class="btn btn-outline-secondary" id="deliveryCheckoutBtn">
          Back<i class="fa fa-chevron-left"></i>
        </a>

        <a class="btn btn-primary" id="reviewCheckoutBtn">
          Next<i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <!--Order Review-->
    <div class="hidden" id="reviewCheckout">
      
      <% if(cart) { %>
        <div class="table-responsive">
          <div id="sourceAddressReview"></div>
          <div id="destinationAddressReview"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Product</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                    </tr>
                </thead>
                <tbody>
                    <% let total = 0%>
                    <% for (let i=0;i<cart.orderItems.length;i++) { %>
                    <tr id="row-<%=cart.orderItems[i]._id%>">
                        <td><a href="/products/<%=cart.orderItems[i].product._id%>"><img src="https://hyper-shop-admin.herokuapp.com/<%=cart.orderItems[i].product.image%>" alt="<%=cart.orderItems[i].product.name%>"></a></td>
                        <td><a href="/products/<%=cart.orderItems[i].product._id%>"><%=cart.orderItems[i].product.name%></a></td>
                        <td><%=cart.orderItems[i].size %>
                        </td>
                        <td><%=cart.orderItems[i].quantity%> </td>
                        <td>$<%=cart.orderItems[i].product.price%></td>
                        
                    </tr>
                    <%total += cart.orderItems[i].quantity*cart.orderItems[i].product.price%>
                    <% } %>
                    <input id="totalProductCost" type="hidden" value="<%=total%>">
                </tbody>
            </table>
            <div id="deliveryChoice">Delivery method: </div>
            <div id="deliveryCost">Shipping cost: </div>
            <div id="total">Tổng tiền hàng: <%=total%>$</div>
            <div id="totalCost">Total (*included ship and tax): </div> 
            <div id="PaymentChoice">Payment: COD</div>
            <input name="shipcost" id="shipcost" type="hidden" value="">
            <input name="payment" id="payment" type="hidden" value="COD">
        </div>
        <% } %>

      <div class="box-footer d-flex justify-content-between">
        <a class="btn btn-outline-secondary" id="paymentCheckoutBtn">
          Back<i class="fa fa-chevron-left"></i>
        </a>

        <button type="submit" class="btn btn-primary" id="confirmPurchase">
          Next and confirm<i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>

    <!--footer btn-->
  </form>
</div>

<script>
  //Checkout item
  const address = document.getElementById("addressCheckout");
  const delivery = document.getElementById("deliveryCheckout");
  const payment = document.getElementById("paymentCheckout");
  const review = document.getElementById("reviewCheckout");

  const addressNavBtn = document.getElementById("addressNavBtn");
  const deliveryNavBtn = document.getElementById("deliveryNavBtn");
  const paymentNavBtn = document.getElementById("paymentNavBtn");
  const reviewNavBtn = document.getElementById("reviewNavBtn");

  const addressCheckoutBtn = document.getElementById("addressCheckoutBtn");
  const deliveryCheckoutBtn = document.getElementById("deliveryCheckoutBtn");
  const paymentCheckoutBtn = document.getElementById("paymentCheckoutBtn");
  const reviewCheckoutBtn = document.getElementById("reviewCheckoutBtn");

  addressCheckoutBtn.addEventListener("click", (e) => {
    console.log("click next to address");
    e.preventDefault();
    address.classList.remove("hidden");
    delivery.classList.add("hidden");
    payment.classList.add("hidden");
    review.classList.add("hidden");

    addressNavBtn.classList.remove("disabled");
    addressNavBtn.classList.add("active");
    deliveryNavBtn.classList.add("disabled");
    deliveryNavBtn.classList.remove("active");
    paymentNavBtn.classList.add("disabled");
    paymentNavBtn.classList.remove("active");
    reviewNavBtn.classList.add("disabled");
    reviewNavBtn.classList.remove("active");
  });

  deliveryCheckoutBtn.addEventListener("click", (e) => {
    var addressText = document.getElementById("destinationAddress");
    addressText.innerHTML += document.getElementById("address").value;

    console.log("click next to delivery");
    e.preventDefault();
    address.classList.add("hidden");
    delivery.classList.remove("hidden");
    payment.classList.add("hidden");
    review.classList.add("hidden");

    deliveryNavBtn.classList.remove("disabled");
    deliveryNavBtn.classList.add("active");
    addressNavBtn.classList.add("disabled");
    addressNavBtn.classList.remove("active");
    paymentNavBtn.classList.add("disabled");
    paymentNavBtn.classList.remove("active");
    reviewNavBtn.classList.add("disabled");
    reviewNavBtn.classList.remove("active");
  });

  paymentCheckoutBtn.addEventListener("click", (e) => {
    console.log("click next to payment");
    e.preventDefault();
    address.classList.add("hidden");
    delivery.classList.add("hidden");
    payment.classList.remove("hidden");
    review.classList.add("hidden");

    paymentNavBtn.classList.remove("disabled");
    paymentNavBtn.classList.add("active");
    deliveryNavBtn.classList.add("disabled");
    deliveryNavBtn.classList.remove("active");
    addressNavBtn.classList.add("disabled");
    addressNavBtn.classList.remove("active");
    reviewNavBtn.classList.add("disabled");
    reviewNavBtn.classList.remove("active");
  });

  reviewCheckoutBtn.addEventListener("click", (e) => {
    console.log("click next to review");
    e.preventDefault();
    address.classList.add("hidden");
    delivery.classList.add("hidden");
    payment.classList.add("hidden");
    review.classList.remove("hidden");

    reviewNavBtn.classList.remove("disabled");
    reviewNavBtn.classList.add("active");
    deliveryNavBtn.classList.add("disabled");
    deliveryNavBtn.classList.remove("active");
    paymentNavBtn.classList.add("disabled");
    paymentNavBtn.classList.remove("active");
    addressNavBtn.classList.add("disabled");
    addressNavBtn.classList.remove("active");

    // Review Order 
    const sourceAddress = document.getElementById("sourceAddress").innerText;
    const destinationAddress = document.getElementById("destinationAddress").innerText;

    const sourceAddressReview = document.getElementById("sourceAddressReview");
    const destinationAddressReview = document.getElementById("destinationAddressReview");
    sourceAddressReview.innerText = sourceAddress;
    destinationAddressReview.innerText = destinationAddress;
  });

  //Delivery option
  const fastOption = document.getElementById("fastOption");
  const normalOption = document.getElementById("normalOption");
  const economyOption = document.getElementById("economyOption");
  const deliveryChoice = document.getElementById("deliveryChoice");

  const totalCost = document.getElementById("totalCost");
  const deliveryCost = document.getElementById("deliveryCost");
  const totalProductCost = document.getElementById("totalProductCost").value;

  const shipcostvalue = document.getElementById("shipcost");
  
  
  fastOption.addEventListener("click", (e) => {
    var shipping = document.getElementById("cost");
    var tax = document.getElementById("tax");
    var total = document.getElementById("total");

    shipping.innerHTML = "Shipping and handling: 8$";
    tax.innerHTML = "Tax: 0.5$";
    total.innerHTML = "8.5$";

    var total = parseInt(totalProductCost) + 8.5;
    deliveryCost.innerHTML ="Shipping cost: 8.5$";
    totalCost.innerHTML ="Total (*included ship and tax): "+ total+"$";
    deliveryChoice.innerHTML ="Delivery method: Fast delivery service";

    shipcostvalue.value = "8.5";


    fastOption.classList.add("choosed");
    normalOption.classList.remove("choosed");
    economyOption.classList.remove("choosed");
  });
  normalOption.addEventListener("click", (e) => {
    var shipping = document.getElementById("cost");
    var tax = document.getElementById("tax");
    var total = document.getElementById("total");

    shipping.innerHTML = "Shipping and handling: 5$";
    tax.innerHTML = "Tax: 0.5$";
    total.innerHTML = "5.5$";

    var total = parseInt(totalProductCost) + 5.5;
    deliveryCost.innerHTML ="Shipping cost: 5.5$";
    totalCost.innerHTML = "Total (*included ship and tax): "+ total+"$";
    deliveryChoice.innerHTML ="Delivery method: Normal delivery service";

    shipcostvalue.value = "5.5";

    fastOption.classList.remove("choosed");
    normalOption.classList.add("choosed");
    economyOption.classList.remove("choosed");
  });
  economyOption.addEventListener("click", (e) => {
    var shipping = document.getElementById("cost");
    var tax = document.getElementById("tax");
    var total = document.getElementById("total");

    shipping.innerHTML = "Shipping and handling: 3$";
    tax.innerHTML = "Tax: 0.2$";
    total.innerHTML = "3.2$";

    var total = parseInt(totalProductCost) + 3.2;
    deliveryCost.innerHTML ="Shipping cost: 3.2$";
    totalCost.innerHTML = "Total (*included ship and tax): "+ total+"$";
    deliveryChoice.innerHTML ="Delivery method: Economy delivery service";

    shipcostvalue.value = "3.2";

    fastOption.classList.remove("choosed");
    normalOption.classList.remove("choosed");
    economyOption.classList.add("choosed");
  });

  //Payment method
  const paymentChoice = document.getElementById("PaymentChoice");
  
  /*const tab1 = document.getElementById("tab1");
  const tab2 = document.getElementById("tab2");
  const tab3 = document.getElementById("tab3");

  const menu = document.getElementById("menu-toggle");
  const wrapper = document.getElementById("wrapper");

  menu.addEventListener("click", (e) =>{
    e.preventDefault();
    wrapper.classList.toggle("toggled");
  });

  tab1.addEventListener("click", (e) =>{
    e.preventDefault();
    tab1.classList.add("active");
    tab2.classList.remove("active");
    tab3.classList.remove("active");
  });
  tab2.addEventListener("click", (e) =>{
    e.preventDefault();
    tab1.classList.remove("active");
    tab2.classList.add("active");
    tab3.classList.remove("active");
  });
  tab3.addEventListener("click", (e) =>{
    e.preventDefault();
    tab1.classList.remove("active");
    tab2.classList.remove("active");
    tab3.classList.add("active");
  })*/

  $(document).ready(function () {
    //Menu Toggle Script
    $("#menu").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    // For highlighting activated tabs
    $("#tab1").click(function () {
      $(".tabs").removeClass("active1");
      $(".tabs").addClass("bg-light");
      $("#tab1").addClass("active1");
      $("#tab1").removeClass("bg-light");
      $("#PaymentChoice").html("Bank");
    });
    $("#tab2").click(function () {
      $(".tabs").removeClass("active1");
      $(".tabs").addClass("bg-light");
      $("#tab2").addClass("active1");
      $("#tab2").removeClass("bg-light");
      $("#PaymentChoice").html("Card");
    });
    $("#tab3").click(function () {
      $(".tabs").removeClass("active1");
      $(".tabs").addClass("bg-light");
      $("#tab3").addClass("active1");
      $("#tab3").removeClass("bg-light");
      $("#PaymentChoice").html("QR");
    });
  });


</script>
<!-- >>>>>>> origin/master -->
