<div id="order-summary" class="box">
    <div class="box-header">
        <h3 class="mb-0">Tóm tắt đơn hàng</h3>
    </div>
    <% let totalPrice = 0 %>
    <p class="text-muted">
        <% for(let item of order.orderItems) { %>
            <% totalPrice += item.product.price*item.quantity%>
        <div class="row">
            <div class="col-5">
                <span><strong><%=item.product.name%></strong></span>
            </div>
            <div class="col-7">
                <span><%=item.product.price.toLocaleString("it-IT", {
                    style: "currency",
                    currency: "VND",
                  })%> x <%=item.quantity%></span><br>
                <span>Size: <%=item.size%></span>
            </div>
        </div>
        <hr />
        <% } %>
    </p>
    <div class="table-responsive-lg">
        <table class="table">
            <tbody>
                <tr>
                    <td>Tổng phụ đặt hàng</td>
                    <th><%=totalPrice.toLocaleString("it-IT", {
                        style: "currency",
                        currency: "VND",
                      })%></th>
                </tr>
                <tr>
                    <td>Vận chuyển và xử lý</td>
                    <th><%=order.shippingCost.toLocaleString("it-IT", {
                        style: "currency",
                        currency: "VND",
                      })%></th>
                </tr>
                <tr>
                    <td>Phương thức thanh toán</td>
                    <th><%=order.paymentMethod%> </th>
                </tr>
                <tr>
                    <td>Ngày đặt hàng</td>
                    <th><%=order.orderedDate.toDateString()%></th>
                </tr>
                <tr>
                    <td>Trạng thái</td>
                    <%if (order.status == "Pending") {%>  <th>Đơn hàng đang chờ xử lý</th>  <%}%>
                    <%if (order.status == "Delivering") {%>  <th>Đơn hàng đang được giao</th>  <%}%>
                    <%if (order.status == "Delivered") {%>  <th>Đơn hàng đã giao thành công </th>  <%}%>
                    
                </tr>
                <tr class="total">
                    <td>Tổng giá</td>
                    <th><%= (totalPrice + + order.shippingCost ).toLocaleString("it-IT", {
                        style: "currency",
                        currency: "VND",
                      })%></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>