<%- include('../includes/head.ejs') %>
<link href="/css/style.css" rel="stylesheet">
<link href="/css/revenue.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js" 
		integrity="sha512-uLlukEfSLB7gWRBvzpDnLGvzNUluF19IDEdUoyGAtaO0MVSBsQ+g3qhLRL3GTVoEzKpc24rVT6X1Pr5fmsShBg==" 
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
<body>
<%- include('../includes/subHeader', {user})%>

	<!-- CONTENT =============================-->
	<section class="item content container wrapper-profile bg-white mt-sm-5" style=" max-width: none" style="margin-right: 0; width: -webkit-fill-available;">
		<div class="dashboardNotify__wrapper">
			<div class="dashboardNotify">
				<span class="dashboardNotify__icon">
					<span class="material-symbols-sharp">
						group
					</span>
				</span>
				<div class="dashboardNotify__info">
					<span class="dashboardNotify__info-number">
						<%= countUser.count %>
					</span>
					Số lượng user
				</div>
			</div>
			<div class="dashboardNotify">
				<span class="dashboardNotify__icon">
					<span class="material-symbols-sharp">
						group
					</span>
				</span>
				<div class="dashboardNotify__info">
					<span class="dashboardNotify__info-number">
						<%= countUser.countNewUser %>
					</span>
					Số lượng user mới trong tháng
				</div>
			</div>
			<div class="dashboardNotify">
				<span class="dashboardNotify__icon">
					<span class="material-symbols-sharp">
						group
					</span>
				</span>
				<div class="dashboardNotify__info">
					<span class="dashboardNotify__info-number">
						<%= countOrder.count %>	
					</span>
					Số đơn hàng giao thành công
				</div>
			</div>
			<div class="dashboardNotify">
				<span class="dashboardNotify__icon">
					<span class="material-symbols-sharp">
						group
					</span>
				</span>
				<div class="dashboardNotify__info">
					<span class="dashboardNotify__info-number">
						<%= countOrder.countNewOrder %>
					</span>
					Số lượng đơn hàng mới trong tháng
				</div>
			</div>
			<div class="dashboardNotify">
				<span class="dashboardNotify__icon">
					<span class="material-symbols-sharp">
						group
					</span>
				</span>
				<div class="dashboardNotify__info">
					<span class="dashboardNotify__info-number">
						<%= countOrder.totalPrice %>
					</span>
					Tổng thu nhập
				</div>
			</div>
		</div>

		<!-- <div class="col-md-3">
			<div class="card sidebar-menu mb-4">
				<div class="card-header">
				  <h3 class="h4 card-title">Lựa chọn theo</h3>
				</div>
				<div class="card-body">
				  <ul class="nav nav-pills flex-column category-menu">
					<li>
						<a id="revenueByDates" class="nav-link text-uppercase" style="cursor: pointer;">
							NGÀY
						</a>
						<a id="revenueByMonth" class="nav-link text-uppercase" style="cursor: pointer;">
							THÁNG
						</a>
						<a id="revenueByYear" class="nav-link text-uppercase" style="cursor: pointer;">
							NĂM
						</a>
					</li>
					<li>
						  <a class="nav-link text-uppercase">
						  <span class="badge badge-secondary">Ngày</span>
						</a>
						  <a class="nav-link text-uppercase">
						  <span class="badge badge-secondary">Tháng</span>
						</a>
						  <a class="nav-link text-uppercase">
						  <span class="badge badge-secondary">Năm</span>
						</a>
					</li>
				  </ul>
				</div>
			  </div>

		</div> -->


		<div class="row justify-content-between">
			<div class="col-md-9" 
				style="
					display: flex;
					flex-direction: row;
					width: -webkit-fill-available;
				"
			>
		
				<div class="toparea" id="date-revenue"
					style="
						width: 45%;
						margin-right: 1rem;
						padding: 2rem;
						height: fit-content;
						border-radius: 1rem;"
				>
					<div class="underlined-title">
						<div class="editContent">
							<h1 class="text-center latestitems">THỐNG KÊ THEO NGÀY</h1>
						</div>
					</div>
					<div class="card-box mb-30">
						<canvas id="dateChart"></canvas>
					</div>
				</div>

				<div class="toparea hidden" id="month-revenue"
					style="
					width: 45%;
					margin-right: 1rem;
					padding: 2rem;
					height: fit-content;
					border-radius: 1rem;"
				>
					<div class="underlined-title">
						<div class="editContent">
							<h1 class="text-center latestitems">THỐNG KÊ THEO THÁNG</h1>
						</div>
						<div class="wow-hr type_short">
							<span class="wow-hr-h">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							</span>
						</div>
					</div>
					<div class="card-box mb-30" style="display: flex; align-items: center; flex-direction: column;">
						<div class="loader" id='loader-month'></div>
						<canvas id="lineChart"></canvas>
					</div>
				</div>
				<div class="toparea hidden" id="year-revenue"
					style="
					width: 45%;
					margin-right: 1rem;
					padding: 2rem;
					height: fit-content;
					border-radius: 1rem;"
				>
					<div class="underlined-title">
						<div class="editContent">
							<h1 class="text-center latestitems">THỐNG KÊ THEO NĂM</h1>
						</div>
						<div class="wow-hr type_short">
							<span class="wow-hr-h">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							</span>
						</div>
					</div>
					<div class="card-box mb-30" style="display: flex; align-items: center; flex-direction: column;">
						<div class="loader" id='loader-year'></div>
						<canvas id="yearChart"></canvas>
					</div>
				</div>
				<div class="toparea"
					style="
						padding: 2rem;
						height: fit-content;
						border-radius: 1rem;"
					"
				>
					<div class="underlined-title">
						<div class="editContent">
							<h1 class="text-center latestitems">SẢN PHẨM BÁN CHẠY</h1>
						</div>
						<div class="wow-hr type_short">
							<span class="wow-hr-h">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							</span>
						</div>
					</div>
					<div class="card-box mb-30">
						<table class="data-table table nowrap">
							<thead>
								<tr>
									<th class="table-plus datatable-nosort">Sản phẩm</th>
									<th>Tên sản phẩm</th>
									<th>Mẫu màu</th>
									<th>Giá sản phẩm</th>
									<th>Số lượng</th>
									<th>Đã bán</th>
								</tr>
							</thead>
							<tbody> 
								<% for(tp of topProducts){ %>
									<%- include('./statisticalRow', tp)%>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>


		</div>
	</div>
	
	</section>
	
	<%- include('../includes/foot')%>

	<script src="/js/productFilter.js"></script>
    <script src="/ajax/products-ajax.js"></script>
    <script src="/js/jquery-util.js"></script>
	<script src="/js/custom/orders-by-dates.js"></script>
	<script src="/js/custom/orders-by-month.js"></script>
	<script src="/js/custom/orders-by-year.js"></script>
	<script src="/js/custom/toggle-order-statistics.js"></script>
</body>
</html>
