<%- include('../includes/head')%>
</head>
<body>
    <!-- HEADER ===================== -->
    <%- include('../includes/header/header', {user})%>

    <!-- ALL ====================================== -->
    <%- include('../includes/bodyContent/all')%>

    <!-- HOT PRODUCTS ============================= -->
    <%- include('../includes/bodyContent/hotProducts', hotProducts)%>

    <div class="box text-center">
        <div class="container">
          <div class="col-md-12">
            <h3 class="text-uppercase">Từ những blog của cửa hàng</h3>
            <p class="lead mb-0">Thế giới thời trang có gì mới? <a href="/blog.html">Tham khảo blog của cửa hàng</a></p>
          </div>
        </div>
    </div>
<%-include('../includes/footer/foot')%>
</body>
</html>