<%- include('../includes/head')%>
</head>
<body>
    <!-- HEADER ================================= -->
    <%- include('../includes/header/header')%>

    <!-- TOP AREA =================================================== -->
    <div id="all">
        <div id="content">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <!-- breadcrumb-->
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Hồ sơ / Đổi mật khẩu</li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-6 offset-lg-3">
                        
                  <!-- reset form -->
                  <div class="box">
                    <h1>Nhập mật khẩu hiện tại</h1>
                    
                    <hr />
                    <!-- <form action="/user/updatepassword" method="post"> -->
                    <form method="post">
                      <!-- Errors display -->
                    <% if(typeof(errors) != "undefined" ){ %> 
                              <% for(let error of errors){ %>
                                        <div class="alert alert-warning" role="alert"><%= error.msg%></div>
                              <% }%> 
                    <% } %>
                    <!-- Success message display -->
                    <% if(typeof(success_msg) != "undefined" ){ %>
                              <div class="alert alert-success" role="alert"><%= success_msg%></div>
                    <% } %>
                    
                    <div class="form-group">
                              <label for="currentpassword">Nhập mật khẩu hiện tại</label>
                              <input
                                required
                                id="currentpassword"
                                name="currentpassword"
                                type="password"
                                class="form-control"
                              />
                              <!-- <label for="password">Nhập mật khẩu mới</label>
                              <input
                                required
                                id="password"
                                name="password"
                                type="password"
                                class="form-control"
                              /> -->
                              
                            </div>
                            <!-- <div class="form-group">
                              <label for="password">Password confirm</label>
                              <input
                                required
                                id="password"
                                name="confirmPassword"
                                type="password"
                                class="form-control"
                              />
                            </div> -->
                          
                              
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                          <i class="fa fa-sign-in"></i> Thay đổi mật khẩu
                        </button>
                      </div>
                    </form>
                  </div>
                  
                  <!-- reset form -->
              </div>
            </div>
          </div>
        </div>
    </div>
    
<%-include('../includes/footer/foot')%>